<div class="container">
  <h1>Simplest Possible AJAX</h1>
  <p>This contrived app will simulate a roll of a 6-sided die.</p>

  
  <form id="roll" method="post" action="/rolls">
    <input type="text" name="value">
    <input type="submit" value="Roll the die!">
  </form>
  <br>
  <!-- <form id='roll' method="post" action="/rolls">
    <input type="submit" value="Roll the Die">
  </form> -->

  
  <div id='users_roll' ></div>

</div>
